* {
  /* border: 1px solid red; */
  background-color: #E2EAEF;
  /* background-color: #EDEEF0; */
  /* background-image: url('./../../../public/richard-lee-background.jpg'); */
}

.App {
  text-align: center;
}

img {
  border: 0.15em solid black;
}
